.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}

h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}

#label-message{
    color:blanchedalmond;
    background-color: darkslategray;
    text-align: center;
    font-style: italic;
}